
<div class="w-full">
    <div class="flex flex-col justify-center mx-auto items-center">
      <img
        src="../img/project/project_1/logo.bwa.svg"
        alt=""
        class="rounded-2xl z-0 bg-cover min-h-24 object-scale-down transition-all ease-in delay-500"
      />
      <div
        class="text-nowrap flex-col md:flex-row lg:h-24 lg:w-24 w-16 h-16 rounded-2xl flex z-1 justify-center items-center gap-4 mt-2 sm:mt-4"
      >
        <div
          class="lg:p-6 md:p-6 p-4 bg-white dark:bg-blackone shadow-younggray dark:shadow-black shadow-md rounded-2xl"
        >
          <i
            class="text-blackone dark:text-white fa-solid fa-list-check fa-2xl"
          ></i>
        </div>
        <div class="flex flex-col">
          <h1
            class="font-bold md:text-start text-nowrap lg:text-3xl md:text-2xl text-center text-xl text-blackone dark:text-white"
          >
            Project
          </h1>
          <h2
            class="lg:text-xl text-start text-lg text-nowrap max-[311px]:text-wrap text-blackone dark:text-white"
          >
            My Featured Project
          </h2>
        </div>
      </div>
    </div>
    <div
      class="w-full container min-h-max max-w-[768px] mx-auto max-[366px]:pt-4"
    >
      <div id="list" class="min-w-auto max-w-auto mx-12 my-12 md:my-12">
        <div
          class="h-0.5 opacity-50 bg-younggray dark:bg-darkgray my-4"
        ></div>
       
<div
            class="w-full container min-h-max max-w-[768px] mx-auto max-[366px]:pt-4"
          >
            <div id="list" class="min-w-auto max-w-auto mx-12 my-12 md:my-12">
              <div
                class="h-0.5 opacity-50 bg-younggray dark:bg-darkgray my-4"
              ></div>
              <h1 class="text-md font-bold text-blue-950 dark:text-white my-2">
                Overview
              </h1>
              <h1 class="text-sm text-blackone dark:text-white">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Tempore, beatae a cupiditate aperiam officiis laborum labore
                adipisci qui impedit odio facilis deleniti necessitatibus
                praesentium repellat dolore quasi possimus vitae alias!
              </h1>
              <div
                class="w-full flex flex-col md:flex-row justify-start md:justify-between"
              >
                <div class="w-full">
                  <h1 class="text-md font-bold text-blackone dark:text-white">
                    Overview Project
                  </h1>
                  <h1 class="text-sm text-blackone dark:text-white">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  </h1>
                </div>
                <div class="w-full">
                  <h1 class="text-md font-bold text-blackone dark:text-white">
                    Overview Project
                  </h1>
                  <h1 class="text-sm text-blackone dark:text-white">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  </h1>
                </div>
              </div>
              <div
                id="projects-1"
                class="py-6 grayscale hover:grayscale-0 transition duration-800"
              >
                <img
                  src="https://i.pinimg.com/736x/c4/a9/bd/c4a9bd656c1dcde8dd295d6d8d71a8ae.jpg"
                  alt=""
                  class="rounded-xl w-full"
                />
                <div class="px-2 py-2">
                  <h1 class="font-bold text-3xl text-blackone dark:text-white">
                    Project 1
                  </h1>
                  <p class="text-wrap text-darkgray dark:text-younggray">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Eaque beatae harum odit placeat delectus recusandae
                    repudiandae in, fuga optio ea quis veritatis vel? Quod
                    necessitatibus porro officiis excepturi corporis! Harum!
                  </p>
                  <h1
                    class="text-2xl font-bold text-blackone dark:text-younggray"
                  ></h1>
                </div>
              </div>
            </div>
          </div>
          
    </div>
</div>
</div>