     <div
              id="projects-1"
              class="py-6 grayscale-0 md:grayscale-100 hover:grayscale-0 transition duration-800"
            >
              <img
                src="../img/project/project_tripin/1.png"
                alt=""
                class="rounded-xl w-full"
              />
              <div class="px-2 py-2">
                <a href="/project/projecttwo">
                <h1 class="text-xl md:text-3xl hover:underline hover:decoration-blackone hover:dark:decoration-white font-bold text-blackone dark:text-white">
                  Tripin
                </h1>
              </a>
                <p class="text-wrap text-sm md:text-lg text-darkgray dark:text-younggray">
                  TRIPIN is an international travel package booking platform designed to make it easier for users to search, select, and book trips to various world destinations...                  <a class="font-semibold hover:text-blue-600 transition delay-150 ease-in" href="/project/projecttwo">Read More</a>
                </p>
                <h1
                  class="text-xl md:text-3xl font-bold text-blackone dark:text-younggray underline decoration-darkgray dark:decoration-younggray"
                >
                </h1>
              </div>
            </div>
