<h1 class="text-xl md:text-3xl font-bold text-blackone dark:text-white">
  Featured Project
</h1>
     <div
              id="projects-1"
              class="py-6 grayscale hover:grayscale-0 transition duration-800"
            >
              <img
                src="https://i.pinimg.com/736x/c4/a9/bd/c4a9bd656c1dcde8dd295d6d8d71a8ae.jpg"
                alt=""
                class="rounded-xl w-full"
              />
              <div class="px-2 py-2">
                <a href="project/projectone">
                <h1 class="text-xl md:text-3xl hover:underline hover:decoration-blackone hover:dark:decoration-white font-bold text-blackone dark:text-white">
                  Project 1
                </h1>
              </a>
                <p class="text-wrap text-darkgray dark:text-younggray">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Eaque beatae harum odit placeat delectus recusandae
                  repudiandae in, fuga optio ea quis veritatis vel? Quod
                  necessitatibus porro officiis excepturi corporis! Harum!
                </p>
                <h1
                  class="text-xl md:text-3xl font-bold text-blackone dark:text-younggray underline decoration-darkgray dark:decoration-younggray"
                >
                  <a href="detail.html">Read More</a>
                </h1>
              </div>
            </div>
